# To view these locally sign into hxydra admin and get session id and perms from cookie
DEV_SESSION_COOKIE=
DEV_HX_PERMS_COOKIE=

# leave as is
VUE_APP_KONDO_API_URL=/kondo/v1/
VUE_APP_HXAT_API_URL="/lti_init/"

# add the targets that you'll hit to get the api responses from whether live or local
KONDO_PROXY_TARGET=
HXAT_PROXY_TARGET=
HXAT_API_KEY=
